<div class="col-md-6 column">
	<h2>Dublin Office</h2>
	<address>
		<strong>{{aboutUs.name}}</strong>
		<br />{{aboutUs.address.line1}}
		<br />{{aboutUs.address.county}}
		<br />{{aboutUs.address.country}}
		<br />
		<br /><abbr title="Phone">P:</abbr> {{aboutUs.number}}
		<br /><abbr title="email">E:</abbr><a href="mailto:{{aboutUs.email}}"> {{aboutUs.email}}</a>
	</address>
</div>
<div class="col-md-6 column">
	<h2>Looking for more information</h2>
	<p>Please go to the contact us page to submit a request for more
		information</p>
	<p>
		<a class="btn btn-primary" href="#/contactUs">Contact Us</a>
	</p>
</div>