<div class="col-md-12 column">
	<div class="jumbotron">
		<h1>What is captivio?</h1>
		<p>Captivio is a social media marketing company specialising in
			bringing brands and customers closer together, allowing everyone to
			be part of the event.</p>
		<p>We gather social media as its created during live events and
			creatively curate and edit the data to enhance customer experiences
			and bring them closer to the action.</p>
		<p>Captivio is unique in that it focuses from your event outwards
			as opposed to trying to capture generic detail around the event.</p>
		<p>Captivio doesn't just let you be at the event ... it lets you
			be part of it!</p>
		<p>
			<a class="btn btn-primary btn-large" href="#">Learn more</a>
		</p>
	</div>
</div>